 .welcome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--primary-color);
        h1{
            font-weight: bolder;
            font-size: 2.5em;
        }
        
        p{
            width: 75%;
            padding: 1rem 0;
            font-weight: 8rem;
            font-size: 1.5em;
        }
        .login{
            display: flex;
            justify-content: start;
            align-items: center;
            cursor: pointer;
            color: var(--navy);

            .link{
                text-decoration: none;
            }
            .moveRight{
                width: 1rem;
            }
        }
}