:root{
    --primary-color:#186fbc;
    --white:#ffffff;
    --navy: #000080;
    --shadow: #ccc;
    --background-color: #e9f4fe;
    --header-shadow:#bbc8d7;
    --red:#ff0000;
    --input-text-color:#4b4a4a;
}